@media (min-width: 768px) {
/* Font sizes on pc */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3, summary {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

/* Hide on pc or show only on pc */
.pc-hide {
    display: none;
}

.pc-only {
    display: inline-block;
}

/* General classnames for pc */
.pc-flex-col {
    display: flex;
    flex-direction: column;
}

.pc-flex-row {
    display: flex;
    flex-direction: row;
}

.pc-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.pc-flex-align-center {
    align-self: center;
}
}