---
import MainLayout from "../layouts/Main-layout.astro";
import ZoulikhaCard from "../components/zoulikhaCard.astro";
import IraCard from "../components/iraCard.astro";
import OlenaCard from "../components/olenaCard.astro";
import DonerSticky from "../components/donerSticky.astro";
---

<MainLayout>
  <main>
    <div class="content">
      <div>
        <p>
          I Tråd Med Verden er en socialøkonomisk virksomhed som arbejder med
          design og genanvendelse af kasserede tekstiler med omdrejningspunkt
          for at skabe jobmuligheder, netværk og livskvalitet for mennesker, som
          har mistet fodfæste på arbejdsmarkedet.
        </p>
      </div>
    </div>
  </main>

</MainLayout>