---
import MainLayout from "../layouts/Main-layout.astro";
import Footer from "../components/Footer.astro";
import Cards from "../components/Cards.astro";
import PromoteBanner from "../components/Promote-banner.astro";
import Accordions from "../components/Accordions.astro";
import DifferenceSection from "../components/Difference-section.astro";
import Tidslinje from "../components/Tidslinje.astro";
import Heartbutton from "../components/Heartbutton.astro";

---

<MainLayout>
  <main>
    <div class="content">
      <p>
        Alt indhold skal være inde i denne div - undtagen footer, banner og
        hero-section - Så det har en max-bredde
      </p>

      <DifferenceSection />
    </div>

    <PromoteBanner />

    <div class="content">

    <Tidslinje/>
  
    <Cards year="2010" city="ISHØJ" text="I 2010 startede I Tråd Med Verden op i Ishøj, som et integrationsprojekt i samarbejde med KEA og Røde Kors. Siden blev det videreført som en boligsocial indsat i Ishøj og Rødovre."/>

    <Cards year="2012" city="RØDOVRE" text="I 2012 blev I Tråd Med Verden også et socialt sted, hvor kvinder kunne komme og fik hjælp til f.eks. brug af computer og Nem-ID, der blev snakket om samfundet og nogle fik øvet deres danske sprog. Desuden har en del kvinder brugt deres arbejde i I Tråd Med Verden til at styrke sine CV og finde fast arbejde."/>

    <Cards year="2018" city="GLADSAXE" text="I en kælder under Haraldskirken i Høje Gladsaxe arbejder en gruppe kvinder med forskelligt tekstil- og håndarbejds-produktion for den socialøkonomiske virksomhed I Tråd Med Verden (ITMV). Her har de holdt til siden januar 2018, hvor de indledte et samarbejde med Bolig-foreningen 3B og Gladsaxe Kommune."/>

    <Cards year="2018" city="GLADSAXE" text="I 2018 blev vi registreret som en socialøkonomisk virksomhed, der driver syværksteder beliggende i udsatte boligområder. Vi arbejder med genanvendelse af kasserede tekstiler og producerer interieurprodukter og tekstildesign, som sælges dels til virksomhedskunder, dels i vores webshop. Formålet med produktionen er at beskæftige mennesker på kanten af arbejdsmarkedet og at skabe livskvalitet gennem design og arbejdsfællesskab."/>

    <Cards year="2019" city="AMAGER" text="Siden februar 2019 har stofranker og andre farvestålende tekstiler prydet vinduespartierne i ITMV værksted her i Urbanplanen. Værkstedet er partnerskabets initiativ og samarbejder med Københavns Jobcenter om en beskæftigelsesindsats, således at man kan blive tilknyttet værkstedet gennem et praktikforløb. Formålet er at tilbyde mennesker et meningsfuldt praktikforløb og et arbejdsfællesskab, som skal hjælpe dem ind på arbejdsmarkedet.Siden blev det videreført som en boligsocial indsat i Ishøj og Rødovre."/>

    <Cards year="2020" city="NØRREBRO" text="I Tråd Med Verden er rykket til Lundtoftegade på Nørrebro ,der med håndarbejde hjælper udsatte kvinder tilbage på arbejdsmarkedet sting for sting. Gennem syning, broderi og plantefarve får kvinderne et fast holdepunkt i deres hverdag - og tonsvis af kasserede tekstiler får nyt liv i I Tråd Med Verdens smukke designs."/>

    <Cards year="2022" city="FARUM" text="Den 1. marts 2022 slog den Socialøkonomiske virksomhed I Tråd Med Verden dørene op i Farum Midtpunkt. I Tråd Med Verden er et tekstilværksted, hvor der arbejdes med syning, broderi, plantefarvning og upcycling af kasserede tekstiler. Produkterne sælges til virksomheder og private, og virksomheden indgår desuden i kunstprojekter og samarbejder med museer."/>

    <Cards year="2023" city="NØRREBRO" text="I dag er ITMV en socialøkonomisk virksomhed med to velfungerende værksteder finansieret gennem jobcentre, fondsmidler og via salg fra butik og webshop. ITMV hjælper folk der har været ramt af depression eller sygdom. Her bliver arbejdet tilpasset de udfordringer, den enkelte har, så personen stille og roligt udvikler sig i arbejdet. ITMV producerer gardiner, puder, tehætter og meget mere af genbrugsmaterialer, som sælges til private og på bestilling til virksomheder."/>


        <Accordions />
    </div>

    <Footer />
  </main>
</MainLayout>
