---
import MainLayout from "../layouts/Main-layout.astro";
import Footer from "../components/Footer.astro";
import Cards from "../components/Cards.astro";
import PromoteBanner from "../components/Promote-banner.astro";
---

<MainLayout>
  <main>
    <div class="content">
      <p>
        Alt indhold skal være inde i denne div - undtagen footer, banner og
        hero-section - Så det har en max-bredde
      </p>
    </div>

    <Cards />
    <PromoteBanner />

    <Footer />
  </main>
</MainLayout>
