---
import MainLayout from "../layouts/Main-layout.astro";
import Footer from "../components/Footer.astro";
import PromoteBanner from "../components/Promote-banner.astro";
---

<MainLayout>
  <main>
    <div class="content">
      <div>
        <p>
          I Tråd Med Verden er en socialøkonomisk virksomhed som arbejder med
          design og genanvendelse af kasserede tekstiler med omdrejningspunkt
          for at skabe jobmuligheder, netværk og livskvalitet for mennesker, som
          har mistet fodfæste på arbejdsmarkedet.
        </p>
      </div>
    </div>

    <PromoteBanner />

    <Footer />
  </main>
</MainLayout>
