---
import Stoettesection from "../components/Stoettesection.astro";
import Button from "../components/Button.astro";
import Esg from "../components/Esg.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      <slot />
      <Button size="large">TEST</Button>

      <Stoettesection />
      <Esg />
    </main>
  </body>
</html>
