---
import { Image } from "astro:assets";
import localFabricImage from "../images/fabric.JPG";
import localFabricDyingImage from "../images/fabric-dying.JPG";
---

<section class="flex-col pc-flex-row gap-l mb-l mt-l">
  <section class="flex-1">
    <Image src={localFabricImage} alt="En masse stof samlet på en reol" />
  </section>

  <section class="flex-center flex-1">
    <details>
      <summary>Lad os sammen løfte en vigtig opgave</summary>
      <p>
        Som socialøkonomisk virksomhed samarbejder vi overordnet indenfor to
        områder. Vi samarbejder om produktion til virksomheder, og så
        samarbejder vi om beskæftigelsesrettede forløb med jobcentre i de
        kommuner vores værksteder ligger i.
      </p>
    </details>

    <details>
      <summary>Workshops</summary>
      <p>
        I sommeren 2022 åbnede vi for alvor op - og inviterede jer ind i vores
        værksted på Nørrebro - senere Farum -  til workshops i bl.a.
        plantefarvning og broderi.
      </p>
      <p>
        Til vores WORKSHOPS får du et kurateret undervisningsforløb med
        specifikke læringsmål, der læner sig op ad hvad vi selv arbejder med i
        værkstedet. Vi møder dig hvor din praksisfaglighed er og sammen udvikler
        vi os i løbet af en workshop.  Vores WORKSHOPS varer 3 - 4 timer.
      </p>
      <h4>PRISER</h4>
      <p>Broderiworkshops 475 DKK</p>
      <p>Plantefarveworkshops 575 DKK</p>
      <h4>BRODERI WORKSHOPS PÅ NØRREBRO</h4>
      <p>
        På vores broderi workshop får du en introduktion til Frihåndsbroderi, og
        afprøvet nogle af de grund sting som vi bruger på værkstedet. Den er
        målrettet nybegyndere til broderiet, som savner en introduktion for at
        kunne komme i gang.
      </p>
      <p>
        Vores underviser vil tage dig igennem de forskellige sting, ved hjælp af
        samme øveark som vi bruger på værkstedet. Dette øveark er også et godt
        værktøj når du kommer hjem, og kan bruges som oversigt over stingene i
        dine fremtidige projekter. Vi stiller alle redskaber til rådighed under
        forløbet, og snakker om hvad du skal bruge for at kunne brodere
        derhjemme. Derudover får du skriftligt materiale med hjem, som støtter
        dig igennem en selvstændig opstart.
      </p>
      <h4>PLANTEFARVE WORKSHOPS I FARUM</h4>
      <p>
        På vores plantefarve workshops får du en grundig introduktion til
        plantefarvningens magiske univers og mulighed for at stille alle dine
        spørgsmål. Du bliver inviteret til at lege med forskellige plantefarver,
        prøve af og være kreativ med kyndig vejledning og sammen med en flok
        ligesindede entusiaster.
      </p>
      <p>
        Du vil få indblik i, hvordan vi plantefarver hos ITMV og hvilke planter
        der er gode at farve med - både de traditionelle og dem du selv kan
        samle i naturen omkring dig eller i dit køkken. Du vil også lære,
        hvordan du selv kommer godt i gang med at plantefarve derhjemme. Vi
        gennemgår forskellige bejdse teknikker og arbejder videre med primært
        bomuld og hør på dagen. Da bejsningen kan tage lidt tid har vi forberedt
        en masse stof fra vores lager til fri afbenyttelse på dagen, så du kan
        prøve de forskellige farver og teknikker af på dagen og kommer hjem med
        en lille regnbue af dine egne farvede tekstiler, som du kan bruge til
        fremtidige projekter eller som inspiration til at arbejde videre
        derhjemme.
      </p>
      <h4>Skal vi afholde en workshop hos dig?</h4>
      <p>
        Er din institution eller virksomhed interesseret i at booke os til at
        afholde en workshop så kontakt itmv@itmv.dk
      </p>
      <p>
        Er du nysgerrig på at vide mere kan du følge med på Instagram
        @itmv_workshops
      </p>
    </details>

    <details>
      <summary>Foredrag eller rundvisning</summary>
      <p>
        Er du, din institution eller virksomhed interesseret i hvordan det er at
        drive en socialøkonomisk virksomhed med dansk design som
        omdrejningspunkt?
      </p>
      <p>
        Så er det muligt at booke os til et foredrag; ud af huset eller en
        rundvisning i vores værksted i Lundtoftegade, Nørrebro.
      </p>
      <p>
        Her vil vi fortælle om hvordan vi med vores socialfaglige arbejde med
        kvinderne designer produkter med udgangspunkt i de kasserede tekstiler
        mm. Vi tænker dagligt bæredygtigt i vores materialeforbrug,
        virksomhedsstruktur og møde med mennesker. Alt sammen i en travl og
        uforudsigelig hverdag, hvor vi dagligt møder nye udfordringer der gør,
        at vi må tænke i nye baner og være kreative omkring vores
        fremgangsmåder.
      </p>
      <p>
        Vi tager udgangspunkt i mennesket, materialet og til slut tilpasses et
        produkt, så disse faktorer får det bedste frem i hinanden. 
        Foredraget/rundvisningen indeholder:
      </p>
      <ul>
        <li>En intro til vores dagligdag</li>
        <li>Et overblik over ITMV og vores afdelinger</li>
        <li>
          Indblik i vores tilgange og metoder - socialfagligt og designmæssigt.
        </li>
        <li>Vores generelle arbejde med bæredygtighed</li>
        <li>M.m.</li>
      </ul>
      <p>Men vi tilpasser rundvisningen/foredraget efter ønsker og behov.</p>
      <h4>Pris</h4>
      <p>2500 DKK ex. moms (Varighed 30 min - 1 time)</p>
      <p>Evt. tillæg for transport.</p>
    </details>

    <details>
      <summary>Hvad er Repair service?</summary>
      <p>Repair Service er en service som ITMV tilbyder til din virksomhed.</p>
      <h4>Hvorfor?</h4>
      <ul>
        <li>Gør genanvendelse let og tilgængeligt for dine medarbejdere</li>
        <li>
          Styrk din virksomheds E (environmental) & S (social) i jeres ESG mål
        </li>
        <li>
          Støt ITMVs arbejde med at skabe flere lønnede timer til vores syersker
        </li>
      </ul>
      <h4>Hvad?</h4>
      <p>
        Vi tilbyder reparation, tilpasning og fornyelse af tøj til din
        virksomheds medarbejdere. Vores team består af to syerske og en
        designer. De vil sidde klar ved symaskinerne, til at hjælpe jer med at
        forlænge levetiden på tøjet. Vi tilbyder bl.a. oplægning, reparation af
        lynlås og huller samt broderi m.m.
      </p>
      <h4>Hvor?</h4>
      <p>
        Vi kommer ud til din virksomhed med vores REPAIR
        SERVICE (Københavnsområdet, tilgængeligt med offentlig transport)
      </p>
      <h4>Hvornår?</h4>
      <p>
        Sammen aftaler vi en fast dag, f.eks. hver anden uge, en gang om
        måneden. Der vil være drop in og aflevering af tøjet om morgenen. Vi
        bestræber os på at blive færdige med dagens reparationer samme dag. Men
        det kan variere, afhængig af opgaven.
      </p>
      <p>
        Repair service indeholder både reperation, oplægning, upcycling og
        customizing og meget mere af ens nuværende tøj.
      </p>
      <p>
        <h4>
          Så trænger dine medarbejdere også til at få en ekstra personalegode
          eller at få opfrisket deres kluns?
        </h4>Kontakt Chef for Design og Udvikling, Liv på mail liv@itmv.dk for
        at høre mere
      </p>
    </details>
  </section>
</section>

<section class="flex-col pc-flex-row-reverse gap-l">
  <section class="flex-1">
    <Image
      src={localFabricDyingImage}
      alt="Billede af tøj som bliver farvet vha. plantefarve"
    />
  </section>

  <section class="flex-center flex-1">
    <details>
      <summary>Hvad er en socialøkonomisk virksomhed?</summary>
      <p>
        En socialøkonomisk virksomhed er en privat virksomhed, der driver
        forretning på markedsvilkår med det formål - i gennem sit virke og
        indtjening - at fremme særlige sociale og samfundsgavnlige formål.
        Virksomheden kan både udøve service og produktion og er ikke branche
        afgrænset.
      </p><p>
        Modsat en kommerciel virksomhed udloddes overskuddet ikke til en
        ejerkreds men geninvesteres i virksomheden eller investeres i andre
        almennyttige formål (til gavn for et bredt udsnit af befolkningen).
      </p>
    </details>

    <details>
      <summary>Formålet med ITMV</summary>
      <p>
        Formålet med ITMV er at være en lokal ressource med henblik på at danne
        fællesskaber og genere viden omkring genanvendelse af tekstil. Vores
        arbejde er et lokalt og meget konkret bud på, hvordan man kan arbejde
        med bæredygtighed på tekstilområdet - en dagsorden, som presser sig
        voldsomt på, hvor det er nødvendigt at finde løsninger på de problemer
        tekstilindustrien skaber.
      </p><p>
        Siden 2018 har vi været registreret som en socialøkonomisk virksomhed,
        der beskæftiger udsatte kvinder i Danmark.
      </p>
      <p>
        Vi bidrager til et rummeligt arbejdsmarked ved at ansætte kvinder i
        ordinær beskæftigelse med fokus på kvindernes kompetencer og ressourcer,
        som skal sættes i spil på det danske arbejdsmarked. Vi tror på, at
        mennesker bliver gladere og stærkere af at arbejde med noget de brænder
        for. Desuden ønsker vi at bidrage til den grønne omstilling ved at skabe
        en cirkulær produktion, hvor kasserede tekstiler kan få nyt liv i stedet
        for at ende på forbrændingen.
      </p>
    </details>

    <details>
      <summary>Lokalsamfund og frivillighed</summary>
      <p>
        I Tråd Med Verden arbejder løbende med lokale projekter i de
        boligområder, hvor vores værksteder er placeret.
      </p><p>
        Vi ønsker at være en lokal ressource og samarbejdspartner, som kan
        bidrage til at udvikle boligområderne og lokalsamfundet - bl.a. i
        Lundtoftegade med projektet BÆREDYGTIGT FÆLLESSKAB.
      </p>
    </details>

    <details>
      <summary>Bliv medlem af foreningen</summary>
      <p>
        Støt vores arbejde med at skabe job, fællesskab og bæredygtig
        tekstilproduktion. Foreningen består af støttemedlemmer, medarbejdere og
        frivillige, som alle har interesse for håndarbejde, tekstil og design
        som social løftestang.
      </p>
      <h4>Medlemsfordele</h4>
      <p>
        Som medlem bliver du inviteret til den årlige generalforsamling, du kan
        følge foreningens arbejde tæt, deltage i aktiviteter og foredrag.
      </p>
      <p>
        Medlemmer har adgang til vores åbne værksted, Bæredygtigt Fællesskab på
        Nørrebro. Her kan man få hjælp til reparation, sy-projekter og lave
        håndarbejde sammen med andre hver onsdag fra kl. 16-19.
      </p>
      <h4>Kontingent</h4>
      <p>
        Kontingent er 150 kr. for et års medlemskab. Prisen er 50 kr. for
        studerende, ledige og pensionister
      </p>
      <h4>Indmeldelse</h4>
      <p>
        Skriv en mail til maro@itmv.dk med dit navn, adresse, telefonnummer og
        fødselsdato og indbetal kontingentet på konto: 8401 1290651 eller betal
        via MobilePay på 971216 og skriv ”kontingent” i emnefeltet.
      </p>
      <a
        href="https://cdn.shopify.com/s/files/1/0730/0412/2440/files/VEDTAeGTER_FOR_FORENINGEN_ITMV.pdf?v=1699884960"
        >Læs foreningens vedtægter her</a
      >
    </details>
  </section>
</section>

<style>
  details {
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: var(--spacing-small);
    & summary {
      cursor: pointer;
      padding: calc(var(--spacing-small) / 2) var(--spacing-small);
      transition: 0.2s ease-in-out;
    }
  }

  details summary:hover {
    color: var(--secondary-color-shade);
    scale: 1.02;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  @media (min-width: 768px) {
    img {
      aspect-ratio: auto;
      height: 100%;
    }

    details summary {
      padding: var(--spacing-small) var(--spacing-small);
    }

    .flex-1 {
      flex: 1;
    }
  }
</style>
