---
const { size } = Astro.props;
---

<article class="content flex-row flex-center">
  <button class={" " + size}><slot /></button>
</article>

<style>
  button {
    margin: auto;
    padding: 2rem;
    background-color: var(--primary-color);
    border-bottom: 4px solid var(--action-color);
    border-top: 4px solid var(--primary-color);
    border-left: 4px solid var(--primary-color);
    border-right: 4px solid var(--primary-color);
    color: var(--action-color);
    font-family: Helvetica;
    font-weight: lighter;
  }

  button:hover {
    border-top: 4px solid var(--action-color);
    border-left: 4px solid var(--action-color);
    border-right: 4px solid var(--action-color);
  }

  .small {
    font-size: 1rem;
    padding: 10px 24px;
  }

  .large {
    font-size: 1.6rem;
    padding: 20px 24px;
  }
</style>
