---
import "../styles/main.css";

/* const year = Astro.props.year;
const city = Astro.props.city; */
---
<section class="info">
<article class="year_info" id="year1">
    <h3>2010</h3><h4>Ishøj</h4>
</article>

<article class="year_info" id="year2">
  <h3>2012</h3><h4>Rødovre</h4>
</article>

<article class="year_info" id="year3">
<h3>2018</h3> <h4>GLADSAXE</h4>
</article>

<article class="year_info" id="year4">
<h3>2018</h3> <h4>GLADSAXE</h4>
</article>

<article class="year_info" id="year5">
<h3>2019</h3> <h4>AMAGER</h4>
</article>

<article class="year_info" id="year6">
<h3>2020</h3> <h4>NØRREBRO</h4>
</article>

<article class="year_info" id="year7">
<h3>2022</h3> <h4>FARUM</h4>
</article>

<article class="year_info" id="year8">
<h3>2023</h3> <h4>NØRREBRO</h4> 
</article>
</section>

  <style>

    .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: relative;
    }

    #year1 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 222%;
      left: 48%;  
      background-color: coral;
    }
     #year2 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 608%;
      left: 37%;  
      /* background-color: blue;  */
    }
    #year3 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 628%;
      left: 10%;
    }
    #year4 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 639%;
      left: 69%;
    }
    #year5 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 648%;
      left: 20%;  
    }
    #year6 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 658%;
      left: 50%;  
    }
    #year7 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 674%;
      left: 65%; 
    }
    #year8 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 690%;
      left: 35%; 
    }

  


@media (min-width: 768px) {
.year_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    display: inline;
  }
  #year1 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 155%;
      left: 35%;
      background-color: rgb(45, 131, 102); 
      z-index: 99; 
    }
    #year2 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 237%;
      left: 20%;
    }
    #year3 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 261%;
      left: 28%;
    }
    #year4 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 208%;
      left: 37%;
    }
    #year5 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 234%;
      left: 51%;
    }
    #year6 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 244%;
      left: 67%;
    }
    #year7 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 214%;
      left: 69%;
    }
    #year8 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 260%;
      left: 82%;
    }
}
</style>