---
import "../styles/main.css";

/* const year = Astro.props.year;
const city = Astro.props.city; */
---
<section>
<article class="year_info" id="year1"></articleclass>
    <h3>2010</h3><h4>Ishøj</h4>
</article>

<article class="year_info" id="year2"></articleclass>
  <h3>2012</h3><h4>Rødovre</h4>
</article>

<article class="year_info" id="year3"></articleclass>
<h3>2018</h3> <h4>GLADSAXE</h4>
</article>

<article class="year_info" id="year4"></articleclass>
<h3>2018</h3> <h4>GLADSAXE</h4>
</article>

<article class="year_info" id="year5"></articleclass>
<h3>2019</h3> <h4>AMAGER</h4>
</article>

<article class="year_info" id="year6"></articleclass>
<h3>2020</h3> <h4>NØRREBRO</h4>
</article>

<article class="year_info" id="year7"></articleclass>
<h3>2022</h3> <h4>FARUM</h4>
</article>

<article class="year_info" id="year8"></articleclass>
<h3>2023</h3> <h4>NØRREBRO</h4> 
</article>
</section>

  <style>

    .section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: relative;
    }
    /* .year_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    display: inline;
  } */
    #year1 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 256%;
      left: 77%;     
    }
    #year2 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 255%;
      left: 30%;
    }
    #year3 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 280%;
      left: 18%;
    }
    #year4 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 279%;
      left: 66%;
    }
    #year5 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 299%;
      left: 54%;
    }
    #year6 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 309%;
      left: 18%;
    }
    #year7 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 319%;
      left: 70%;
    }
    #year8 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 336%;
      left: 18%;
    }
  


@media (min-width: 768px) {
.year_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    display: inline;
  }
  #year1 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 205%;
      left: 17%;  
    }
    #year2 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 237%;
      left: 20%;
    }
    #year3 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 261%;
      left: 28%;
    }
    #year4 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 208%;
      left: 37%;
    }
    #year5 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 234%;
      left: 51%;
    }
    #year6 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 244%;
      left: 67%;
    }
    #year7 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 214%;
      left: 69%;
    }
    #year8 {
      position:absolute;
      text-align: center;
      line-height: 25%;
      top: 260%;
      left: 82%;
    }
}
</style>