---

---

<!-- main -->
<section>
 <div>
  <h3>2010</h3> <h4>ISHØJ</h4>
  <p>I 2010 startede I Tråd Med Verden op i Ishøj, som et integrationsprojekt i samarbejde med KEA og Røde Kors.</p>
  </b>
  <p>Siden blev det videreført som en boligsocial indsat i Ishøj og Rødovre.</p>
 </div>
</section>

<section>
    <div>
     <h3>2012</h3><h4>RØDOVRE</h4>
     <p>I 2012 blev I Tråd Med Verden også et socialt sted, hvor kvinder kunne komme og fik hjælp til f.eks. brug af computer og Nem-ID, der blev snakket om samfundet og nogle fik øvet deres danske sprog.</p>
    </b>
     <p>Desuden har en del kvinder brugt deres arbejde i I Tråd Med Verden til at styrke sine CV og finde fast arbejde.</p>
    </div>
</section>

<section>
    <div>
     <h3>2018</h3><h4>GLADSAXE</h4>
     <p>I en kælder under Haraldskirken i Høje Gladsaxe arbejder en gruppe kvinder med forskelligt tekstil- og håndarbejds-produktion for den socialøkonomiske virksomhed I Tråd Med Verden (ITMV).</p>
    </b>
     <p>Her har de holdt til siden januar 2018, hvor de indledte et samarbejde med Bolig-foreningen 3B og Gladsaxe Kommune.</p>
    </div>
</section>

<section>
    <div>
     <h3>2018</h3><h4>GLADSAXE</h4>
     <p>I en kælder under Haraldskirken i Høje Gladsaxe arbejder en gruppe kvinder med forskelligt tekstil- og håndarbejds-produktion for den socialøkonomiske virksomhed I Tråd Med Verden (ITMV).</p>
     </b>
     <p>Her har de holdt til siden januar 2018, hvor de indledte et samarbejde med Bolig-foreningen 3B og Gladsaxe Kommune.</p>
    </div>
</section>

<section>
    <div>
     <h3>2018</h3><h4>GLADSAXE</h4>
     <p>I 2018 blev vi registreret som en socialøkonomisk virksomhed, der driver syværksteder beliggende i udsatte boligområder.</p>
     </b>
     <p>Vi arbejder med genanvendelse af kasserede tekstiler og producerer interieurprodukter og tekstildesign, som sælges dels til virksomhedskunder, dels i vores webshop.</p>
     </b>
     <p>Formålet med produktionen er at beskæftige mennesker på kanten af arbejdsmarkedet og at skabe livskvalitet gennem design og arbejdsfællesskab.</p>
    </div>
</section>

<section>
    <div>
     <h3>2019</h3><h4>AMAGER</h4>
     <p>Siden februar 2019 har stofranker og andre farvestålende tekstiler prydet vinduespartierne i ITMV værksted her i Urbanplanen.</p>
     </b>
     <p>Værkstedet er partnerskabets initiativ og samarbejder med Københavns Jobcenter om en beskæftigelsesindsats, således at man kan blive tilknyttet værkstedet gennem et praktikforløb.</p>
     </b>
     <p>Formålet er at tilbyde mennesker et meningsfuldt praktikforløb og et arbejdsfællesskab, som skal hjælpe dem ind på arbejdsmarkedet.</p>
    </div>
</section>

<section>
    <div>
     <h3>2020</h3><h4>NØRREBRO</h4>
     <p>I Tråd Med Verden er rykket til Lundtoftegade på Nørrebro ,der med håndarbejde hjælper udsatte kvinder tilbage på arbejdsmarkedet sting for sting.</p>
     </b>
     <p>Gennem syning, broderi og plantefarve får kvinderne et fast holdepunkt i deres hverdag - og tonsvis af kasserede tekstiler får nyt liv i I Tråd Med Verdens smukke designs.</p>
    </div>
</section>

<section>
    <div>
     <h3>2022</h3><h4>FARUM</h4>
     <p>Den 1. marts 2022 slog den Socialøkonomiske virksomhed I Tråd Med Verden dørene op i Farum Midtpunkt.</p>
     </b>
     <p>I Tråd Med Verden er et tekstilværksted, hvor der arbejdes med syning, broderi, plantefarvning og upcycling af kasserede tekstiler.</p>
     </b>
     <p>Produkterne sælges til virksomheder og private, og virksomheden indgår desuden i kunstprojekter og samarbejder med museer.</p>
    </div>
</section>

<!-- css -->
<style>


</style>