---
import "../styles/main.css";
import "../styles/pc-style.css";
---

<div>
    <h2>2010</h2>
    <h3>ISHØJ</h3>

      <p>I 2010 startede I Tråd Med Verden op i Ishøj, som et integrationsprojekt i samarbejde med KEA og Røde Kors.

        <b>Siden blev det videreført som en boligsocial indsat i Ishøj og Rødovre.</b></p>
</div>