---

---

<h2>Skal din virksomhed være vores nye <span>samarbejdspartner?</span></h2>

<div class="company-overview">
  <img src="/img/companies/akb-koebenhavn.svg" alt="" />
  <img src="/img/companies/underprotection.svg" alt="" />
  <img src="/img/companies/copenhagen-photofestival.svg" alt="" />
  <img src="/img/companies/furesoe-kommune.svg" alt="" />
  <img src="/img/companies/ganni.svg" alt="" />
  <img src="/img/companies/ikea.svg" alt="" />
  <img src="/img/companies/glyptoteket.svg" alt="" />
  <img src="/img/companies/kab.svg" alt="" />
  <img src="/img/companies/koebenhavns-kommune.svg" alt="" />
  <img src="/img/companies/kunst-museum-brandts.svg" alt="" />
  <img src="/img/companies/laika.svg" alt="" />
  <img src="/img/companies/mads-noerregaard.svg" alt="" />
  <img src="/img/companies/elis.svg" alt="" />
  <img src="/img/companies/menu.svg" alt="" />
  <img src="/img/companies/n.svg" alt="" />
  <img src="/img/companies/noerrebro-byggerne.svg" alt="" />
  <img src="/img/companies/nicholas-nybro.svg" alt="" />
  <img src="/img/companies/nue-notes.svg" alt="" />
  <img src="/img/companies/ordrupgaard.svg" alt="" />
  <img src="/img/companies/blue-logo.svg" alt="" />
  <img src="/img/companies/public-funk.svg" alt="" />
  <img src="/img/companies/stilling.svg" alt="" />
  <img src="/img/companies/wallnut.svg" alt="" />
  <img src="/img/companies/frak.svg" alt="" />
</div>

<style>
  h2 {
    max-width: 700px;
    margin: auto;
  }

  span {
    text-transform: uppercase;
    color: var(--action-color);
  }

  .company-overview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--spacing-medium);
    margin: var(--spacing-large) -25px var(--spacing-medium) -25px;
  }

  @media (min-width: 768px) {
    .company-overview {
      grid-template-columns: repeat(8, 1fr);
      gap: 25px 50px;
      margin: var(--spacing-large) 0 var(--spacing-medium) 0;
    }
  }
</style>
