---
import "../styles/main.css";
import "../styles/pc-style.css";
---

<footer>
  <section class="flex-col pc-flex-row flex-space-between">
    <div>
      <h4>Her finder du os:</h4>

      <p><b>Værkstedet i Lundtoftegade</b></p>
      <p>Lundtoftegade 23, 1 sal</p>
      <p>2200 København N</p>

      <p><b>Værkstedet i Farum Midtpunkt</b></p>
      <p>Nygårdterasserne 213A</p>
      <p>3520 Farum</p>
    </div>

    <div class="icons">
      <a href="https://www.instagram.com/itraadmedverden/"
        ><img src="./img/instagram-icon.svg" alt="Instagram ikon" /></a
      >
      <a
        href="https://www.facebook.com/p/I-Tra%CC%8Ad-Med-Verden-100063621456557/?locale=da_DK"
        ><img src="./img/facebook-icon.svg" alt="Facebook ikon" /></a
      >
    </div>

    <div class="align-right pc-flex-align-center">
      <h4>Her kontakter du du os:</h4>

      <p><b>Mail:</b> itmv@itmv.dk</p>

      <p><b>Telefon:</b> 6087 7307</p>

      <p><b>CVR:</b> 34449686</p>
    </div>
  </section>
</footer>

<style>
  footer {
    background-color: var(--secondary-color-shade);
    color: var(--primary-shade-color);

    & section {
      max-width: 1250px;
      margin: auto;
      padding: var(--spacing-small) var(--spacing-medium) 0
        var(--spacing-medium);
      & div {
        margin-bottom: var(--spacing-large);
      }
    }
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: var(--spacing-medium);

    & img {
      height: 35px;
      transition: 0.2s;
    }

    & img:hover {
      scale: 1.1;
    }
  }

  @media (min-width: 768px) {
    .icons {
      & img {
        height: 45px;
      }
    }
  }
</style>
