---
import "../styles/main.css";

---
<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon1">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon2">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon3">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon4">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon5">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon6">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon7">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon8">
<label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>
<!-- --------------- -->


   <!-- <div class="slide-card" id="slide-card1">
    <div class="card-content">
      <h2>Slide-in Card</h2>
      <p>This is a slide-in card content.</p>
    </div>
  </div>  -->

<style>

/* Slide-in animation for the card *
.slide-card {
  position: absolute;
  top: 15;
  left: 100%; /* Start off-screen *
  transition: left 0.5s ease-in-out;
  width: 300px; /* Adjust width as needed *
  height: 200px; /* Adjust height as needed *
  background-color: #d13e3e; /* Adjust background color as needed *
  z-index: 0; /* Ensure the card appears beneath the heart icon *
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth 
}*/

/* Card content styles */
/* .card-content {
  padding: 20px;
} */

/* When the checkbox is checked, slide the card in *
#slide-checkbox:checked ~ #slide-card1 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card2 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card3 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card4 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card5 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card6 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card7 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card8 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
} */



   .heart-icon {
      width: 6.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
}
@keyframes hearticon-animation {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.7);
  }
}
    #hearticon1 {
      margin-top: -48rem;
      margin-left: 16.7rem;background-color: blueviolet;
    }
    #hearticon2 {
      margin-top: -47.7rem;
      margin-left: 7.5rem;
    }
    #hearticon3 {
      margin-top: -40.8rem;
      margin-left: 8.2rem;
    }
    #hearticon4 {
      margin-top: -36rem;
      margin-left: 16rem;
    }
    #hearticon5 {
      margin-top: -33rem;
      margin-left: 10.5rem;
    }
    #hearticon6 {
      margin-top: -24.8rem;
      margin-left: 9.4rem;
    }
    #hearticon7 {
      margin-top: -18.9rem;
      margin-left: 14.7rem;
    }
    #hearticon8 {
      margin-top: -15.5rem;
      margin-left: 6rem;
    }

    @media (min-width: 768px) {
      .heart-icon {
      width: 8.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
}
    #hearticon1 {
      margin-top: -43rem;
      margin-left: 3.7rem;
    }
    #hearticon2 {
      margin-top: -28rem;
      margin-left: 3rem;
    }
    #hearticon3 {
      margin-top: -24rem;
      margin-left: 14.2rem;
    }
    #hearticon4 {
      margin-top: -42rem;
      margin-left: 23rem;
    }
    #hearticon5 {
      margin-top: -31rem;
      margin-left: 29.5rem;
    }
    #hearticon6 {
      margin-top: -29rem;
      margin-left: 43.4rem;
    }
    #hearticon7 {
      margin-top: -39rem;
      margin-left: 50rem;
    }
    #hearticon8 {
      margin-top: -25rem;
      margin-left: 63.4rem;
    }
    }
      </style>