---
import "../styles/main.css";
---

<div class="heart-icon" id="hearticon1">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<div class="heart-icon" id="hearticon2">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<div class="heart-icon" id="hearticon3">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<div class="heart-icon" id="hearticon4">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<div class="heart-icon" id="hearticon5">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<div class="heart-icon" id="hearticon6">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<div class="heart-icon" id="hearticon7">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<div class="heart-icon" id="hearticon8">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</div>

<style>
   .heart-icon {
      width: 6.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
}
@keyframes hearticon-animation {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.7);
  }
}
    #hearticon1 {
      margin-top: -48rem;
      margin-left: 16.7rem;
    }
    #hearticon2 {
      margin-top: -46.7rem;
      margin-left: 7.5rem;
    }
    #hearticon3 {
      margin-top: -39rem;
      margin-left: 8.2rem;
    }
    #hearticon4 {
      margin-top: -36rem;
      margin-left: 16rem;
    }
    #hearticon5 {
      margin-top: -33rem;
      margin-left: 10.5rem;
    }
    #hearticon6 {
      margin-top: -24.8rem;
      margin-left: 9.4rem;
    }
    #hearticon7 {
      margin-top: -18.9rem;
      margin-left: 14.7rem;
    }
    #hearticon8 {
      margin-top: -12.5rem;
      margin-left: 6rem;
    }

    @media (min-width: 768px) {
      .heart-icon {
      width: 8.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
}
    #hearticon1 {
      margin-top: -43rem;
      margin-left: 3.7rem;
    }
    #hearticon2 {
      margin-top: -28rem;
      margin-left: 3rem;
    }
    #hearticon3 {
      margin-top: -24rem;
      margin-left: 14.2rem;
    }
    #hearticon4 {
      margin-top: -42rem;
      margin-left: 23rem;
    }
    #hearticon5 {
      margin-top: -31rem;
      margin-left: 29.5rem;
    }
    #hearticon6 {
      margin-top: -29rem;
      margin-left: 43.4rem;
    }
    #hearticon7 {
      margin-top: -39rem;
      margin-left: 50rem;
    }
    #hearticon8 {
      margin-top: -25rem;
      margin-left: 63.4rem;
    }
    }
      </style>