---
import "../styles/main.css";

---
<section class="hearts">
<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon1">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon2">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon3">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon4">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon5">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon6">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon7">
  <label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>

<!-- <input type="checkbox" id="slide-checkbox"> -->
<div class="heart-icon" id="hearticon8">
<label for="slide-checkbox">
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
</label>
</div>
</section>
<!-- --------------- -->


   <!-- <div class="slide-card" id="slide-card1">
    <div class="card-content">
      <h2>Slide-in Card</h2>
      <p>This is a slide-in card content.</p>
    </div>
  </div>  -->

<style>

/* Slide-in animation for the card *
.slide-card {
  position: absolute;
  top: 15;
  left: 100%; /* Start off-screen *
  transition: left 0.5s ease-in-out;
  width: 300px; /* Adjust width as needed *
  height: 200px; /* Adjust height as needed *
  background-color: #d13e3e; /* Adjust background color as needed *
  z-index: 0; /* Ensure the card appears beneath the heart icon *
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth 
}*/

/* Card content styles */
/* .card-content {
  padding: 20px;
} */

/* When the checkbox is checked, slide the card in *
#slide-checkbox:checked ~ #slide-card1 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card2 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card3 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card4 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card5 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card6 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card7 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
}
#slide-checkbox:checked ~ #slide-card8 {
  margin-top: -30rem;
  left: calc(50% - 150px); /* Slide in to the center *
} */



   .heart-icon {
      width: 6.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
}
@keyframes hearticon-animation {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.7);
  }
}
    #hearticon1 {
      top: 612%;
      left: 57%;  
    }
    #hearticon2 {
      top: 616%;
      left: 30%;
    }
    #hearticon3 {
      top: 629%;
      left: 24%;
    }
    #hearticon4 {
      top: 636%;
      left: 52%;
    }
    #hearticon5 {
      top: 644%;
      left: 34%;
    }
    #hearticon6 {
      top: 660%;
      left: 34%;
    }
    #hearticon7 {
      top: 672%;
      left: 48%;
    }
    #hearticon8 {
      top: 682%;
      left: 24%;
    }

    @media (min-width: 768px) {
      .heart-icon {
      width: 8.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      
}
    #hearticon1 {
      top: 555%;
      left: 15%;
      background-color: blue;
    }
    #hearticon2 {
      top: 581%;
      left: 14%;
    }
    #hearticon3 {
      top: 593%;
      left: 25%;
    }
    #hearticon4 {
      top: 560%;
      left: 33%;
    }
    #hearticon5 {
      top: 569%;
      left: 44%;
    }
    #hearticon6 {
      top: 591%;
      left: 55%;
    }
    #hearticon7 {
      top: 564%;
      left: 67%;
    }
    #hearticon8 {
      top: 590%;
      left: 80%;
    }
    }
      </style>