---
import "../styles/main.css";
---

  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon1" />
  </div>

  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon2" />
  </div> 
  
  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon3" />
  </div> 
  
  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon4" />
  </div> 
  
  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon5" />
  </div> 
  
  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon6" />
  </div> 
  
  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon7" />
  </div> 
  
  <div>
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" class="hearticon8" />
  </div> 
  

  <style>
    .hearticon1,
    .hearticon2,
    .hearticon3,
    .hearticon4,
    .hearticon5,
    .hearticon6,
    .hearticon7, 
    .hearticon8 {
      max-width: 3.3rem;
    }


    .hearticon1 {
      position: absolute;
      margin-top: -39.5rem;
      margin-left: 16rem;
    }
    .hearticon2 {
      position: absolute;
      margin-top: -38.7rem;
      margin-left: 10rem;
    }
    .hearticon3 {
      position: absolute;
      margin-top: -34rem;
      margin-left: 8.2rem;
    }
    .hearticon4 {
      position: absolute;
      margin-top: -31rem;
      margin-left: 16rem;
    }
    .hearticon5 {
      position: absolute;
      margin-top: -27rem;
      margin-left: 11.5rem;
    }
    .hearticon6 {
      position: absolute;
      margin-top: -21rem;
      margin-left: 9.4rem;
    }
    .hearticon7 {
      position: absolute;
      margin-top: -16.2rem;
      margin-left: 15.2rem;
    }
    .hearticon8 {
      position: absolute;
      margin-top: -12.5rem;
      margin-left: 9rem;
    }















        
    
    @media (min-width: 768px) {
      .timeline{
      transform: rotate(0deg);
    
    }
    }
      </style>