---
import "../styles/main.css";

---
<section>
<div class="heart-icon" id="hearticon1">
  
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>


<div class="heart-icon" id="hearticon2">
  
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>


<div class="heart-icon" id="hearticon3">
  
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>


<div class="heart-icon" id="hearticon4">
  
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>


<div class="heart-icon" id="hearticon5">
  
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>


<div class="heart-icon" id="hearticon6">
  
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>


<div class="heart-icon" id="hearticon7">
  
  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>


<div class="heart-icon" id="hearticon8">

  <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />

</div>
</section>


<style>
   .heart-icon {
      width: 6.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
}
@keyframes hearticon-animation {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(0.7);
  }
}
    #hearticon1 {
      margin-top: -48rem;
      margin-left: 16.7rem;
      /* background-color: blueviolet;   */
    }
    #hearticon2 {
      top: 610%;
      left: 30%;
    }
    #hearticon3 {
      top: 623%;
      left: 26%
    }
    #hearticon4 {
      top: 630%;
      left: 52%;
    }
    #hearticon5 {
      top: 640%;
      left: 34%;
    }
    #hearticon6 {
      top: 656%;
      left: 34%;
    }
    #hearticon7 {
      top: 672%;
      left: 48%;
    }
    #hearticon8 {
      top: 680%;
      left: 24%
    }

    @media (min-width: 768px) {
      .heart-icon {
      width: 8.3rem;
      position: absolute;
      animation-name: hearticon-animation;
      animation-duration: 1s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      
}
    #hearticon1 {
      top: 555%;
      left: 15%;
      background-color: blue;
    }
    #hearticon2 {
      top: 581%;
      left: 14%;
    }
    #hearticon3 {
      top: 593%;
      left: 25%;
    }
    #hearticon4 {
      top: 560%;
      left: 33%;
    }
    #hearticon5 {
      top: 569%;
      left: 44%;
    }
    #hearticon6 {
      top: 591%;
      left: 55%;
    }
    #hearticon7 {
      top: 564%;
      left: 67%;
    }
    #hearticon8 {
      top: 590%;
      left: 80%;
    }
    }
      </style>