---

---

<div class="top_section">
  <h2>I TRÅD MED VERDEN</h2>
  <p>er en socialøkonomisk virksomhed som arbejder med design og genanvendelse af kasserede 
    tekstiler med omdrejningspunkt for at skabe jobmuligheder, netværk og livskvalitet for 
    mennesker, som har mistet fodfæste på arbejdsmarkedet.</p>
</div>