---
import "../styles/main.css";
---

<div class="container">
  <img
    class="brancet-left"
    src="img/bracketLeft.png"
    alt="Parentes klamme venstre"
  />
  <p>
    <span><b>I TRÅD MED VERDEN</b></span> er en socialøkonomisk virksomhed som arbejder
    med design og genanvendelse af kasserede tekstiler med omdrejningspunkt for at
    skabe jobmuligheder, netværk og livskvalitet for mennesker, som har mistet fodfæste
    på arbejdsmarkedet.
  </p>
  <img
    class="brancet-right"
    src="img/bracketRight.png"
    alt="Parentes klamme højre"
  />
</div>

<style>
  .container {
    position: relative;
    aspect-ratio: 4 / 1;
    margin-bottom: calc(var(--spacing-large) * 2);

    & span {
      font-family: "Neue-Regrade", sans-serif;
      font-size: 1.5rem;
    }

    & p {
      padding: 25px;
    }

    & img {
      position: absolute;
      height: 100%;
      width: 7%;
    }
  }

  .brancet-left {
    top: 0;
    left: 0;
  }

  .brancet-right {
    top: 0;
    left: 93%;
  }

  @media (min-width: 768px) {
    .container {
    aspect-ratio: 10 / 1;
    margin-top: -150px;

    & span {
      font-size: 2rem;
    }

    & p {
      padding: 25px 50px;
    }

    & img {
      width: 5%;
    }
  }

  .brancet-right {
    top: 0;
    left: 95%;
  }
</style>
