

<article class="content">
  <h2>HVORDAN KAN I STØTTE?</h2>
  <section class="paragraph">
    <p class="p1">Hvert år produceres der på verdensplan 62 millioner ton tøj. Tekstilindustrien regnes for en af de mest forurenende i verden, og produktionen af tøj står for over 10 procent af verdens samlede udledning af CO2. Det er mere CO2 end fly og shipping tilsammen. Hver dansker køber i gennemsnit 10,9 kg tøj om året, og over halvdelen af det tøj, vi ikke længere bruger, havner i skraldespanden. Når du støtter os er du med til at kæmpe imod disse tal og støtter en virksomhed som forsøger at løse et meget globalt problem, med en meget lokal løsning.</p>
    <p class="p2">En partner virksomhed kan booke en værkstedsplads hos os, hvilket giver os mulighed for at ansætte en eller flere syerske til en specifik produktion. Dermed skaber vi i fællesskab job til mennesker på kanten af arbejdsmarkedet og giver dem mulighed for at deltage i et givende arbejdsfællesskab. Vær med til at støtte vores arbejde med at skabe livskvalitet gennem design og arbejdsfællesskab, så vi sammen kan skabe fremtidens bæredygtige tekstilvirksomhed med social ansvarlighed som kompas.</p>
  </section>
  <section class="icons">
<div class="partner">
      <a href="https://www.itmv.dk/pages/samarbejde"/>
      <img class="icon" src="img/partner.svg" alt="..." />
      <p>PARTNERSKAB</p>
      </a>
    </div>
    <div class="repair">
      <a href="https://www.itmv.dk/pages/repair-service"/>
      <img class="icon" src="img/repairservice.svg" alt="..." />
      <p>REPAIR SERVICE</p>
      </a>
      </div>
    <div class="shop">
      <a href="https://www.itmv.dk/collections/all"/>
      <img class="icon" src="img/shop.svg" alt="..." />
      <p>SHOP</p>
      </a>
      </div>
      <div class="lecture">
      <a href="https://www.itmv.dk/pages/foredrag-rundvisning"/>
      <img class="icon" src="img/lecture.svg" alt="..." />
      <p>FOREDRAG</p>
      </a>
      </div>
  </section>
</article>

<style>
  @media (min-width: 768px) {
    .paragraph {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 3%;
    }
    .icons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
      justify-items: center;
      gap: 20px;
    }
    .paragraph p {
      max-width: 400px;
    }
  }

  @media (max-width: 768px) {
    .paragraph {
      display: block;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    .p2 {
      margin-top: 3%;
      margin-bottom: 3%;
    }
    .icons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px));
      justify-items: center;
      gap: 20px;
    }
  }

  article h2 {
    margin-bottom: 4%;
    text-align: center;
  }

  .icons img {
    max-width: 157px;
  }

  .icons p {
    color: var(--secondary-color);
    font-family: Helvetica;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

</style>
