---
import MainLayout from "../layouts/Main-layout.astro";
---

<MainLayout>
  <article class="content">
    <h2>HVORDAN KAN I STØTTE?</h2>
    <section class="paragraph">
      <p class="p1">Hvert år produceres der på verdensplan 62 millioner ton tøj. Tekstilindustrien regnes for en af de mest forurenende i verden, og produktionen af tøj står for over 10 procent af verdens samlede udledning af CO2. Det er mere CO2 end fly og shipping tilsammen. Hver dansker køber i gennemsnit 10,9 kg tøj om året, og over halvdelen af det tøj, vi ikke længere bruger, havner i skraldespanden. Når du støtter os er du med til at kæmpe imod disse tal og støtter en virksomhed som forsøger at løse et meget globalt problem, med en meget lokal løsning.</p>
      <p class="p2">En partner virksomhed kan booke en værkstedsplads hos os, hvilket giver os mulighed for at ansætte en eller flere syerske til en specifik produktion. Dermed skaber vi i fællesskab job til mennesker på kanten af arbejdsmarkedet og giver dem mulighed for at deltage i et givende arbejdsfællesskab. Vær med til at støtte vores arbejde med at skabe livskvalitet gennem design og arbejdsfællesskab, så vi sammen kan skabe fremtidens bæredygtige tekstilvirksomhed med social ansvarlighed som kompas.</p>
    </section>
    <section class="icons">
      <button class="partner">
        <img src="img/partner.svg" alt="..." />
        <p>PARTNERSKAB</p>
      </button>
      <button class="repair">
        <img src="img/repairservice.svg" alt="..." />
        <p>REPAIR SERVICE</p>
      </button>
      <button class="shop">
        <img src="img/shop.svg" alt="..." />
        <p>SHOP</p>
      </button>
      <button class="lecture">
        <img src="img/lecture.svg" alt="..." />
        <p>FOREDRAG</p>
      </button>
    </section>
  </article>
</MainLayout>

<style>
  @media (min-width: 768px) {
    .paragraph {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 3%;
    }
    .icons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    .paragraph p {
      max-width: 470px;
    }
  }

  @media (max-width: 768px) {
    .paragraph {
      display: block;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    .p2 {
      margin-top: 3%;
      margin-bottom: 3%;
    }
  }

  article h2 {
    margin-bottom: 4%;
    text-align: center;
  }

  .icons button {
    border: none;
  }

  button img {
    max-width: 157px;
  }
</style>
