---
import { Image } from "astro:assets";
import timeline from "../img/stipletlinje";
---

  <div class="#">
    <Image
      src={timeline}
      alt="Snoet grøn stiplet tidslinje over ITMV"
    />
  </div>
