---
import "../styles/main.css";
---

<div class="timeline">
  <img
    class="line"
    src="img/stipletlinje.svg"
    alt="Snoet stiplet grøn ITMV tidslinje"
  />
  <div id="hearticon1">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <div id="hearticon2">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <div id="hearticon3">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <div id="hearticon4">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <div id="hearticon5">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <div id="hearticon6">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <div id="hearticon7">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <div id="hearticon8">
    <img src="img/hjertepuls.svg" alt="Pulsende hjerteicon" />
  </div>

  <article class="year_info" id="year1">
    <h3>2010</h3><h4>Ishøj</h4>
</article>
<article class="year_info" id="year2">
  <h3>2012</h3><h4>Rødovre</h4>
</article>

<article class="year_info" id="year3">
<h3>2018</h3> <h4>GLADSAXE</h4>
</article>

<article class="year_info" id="year4">
<h3>2018</h3> <h4>GLADSAXE</h4>
</article>

<article class="year_info" id="year5">
<h3>2019</h3> <h4>AMAGER</h4>
</article>

<article class="year_info" id="year6">
<h3>2020</h3> <h4>NØRREBRO</h4>
</article>

<article class="year_info" id="year7">
<h3>2022</h3> <h4>FARUM</h4>
</article>

<article class="year_info" id="year8">
<h3>2023</h3> <h4>NØRREBRO</h4> 
</article>
</div>

<style>
  .timeline {
    width: 100%;
    margin: calc(var(--spacing-large) * 2) 0 calc(var(--spacing-large) * 2.5) 0;
    aspect-ratio: 1 / 1;
    position: relative;

    & .line {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(90deg);
    }
  }

  .timeline div {
    width: 15%;
    margin: 0;
    position: absolute;
    animation-name: hearticon-animation;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  #hearticon1 {
    bottom: 86%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

  #hearticon2 {
    bottom: 89%;
    left: 35%;
    transform: translate(-50%, -50%);
  }

  #hearticon3 {
    bottom: 72%;
    left: 29%;
    transform: translate(-50%, -50%);
  }

  #hearticon4 {
    bottom: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
  }

  #hearticon5 {
    bottom: 46%;
    left: 37%;
    transform: translate(-50%, -50%);
  }
  #hearticon6 {
    bottom: 27%;
    left: 32%;
    transform: translate(-50%, -50%);
  }

  #hearticon7 {
    bottom: 12%;
    left: 53%;
    transform: translate(-50%, -50%);
  }
  #hearticon8 {
    bottom: -5%;
    left: 31%;
    transform: translate(-50%, -50%);
  }

  @keyframes hearticon-animation {
    0% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(0.7);
    }
  }
  @media (min-width: 768px) {
    .timeline {
      aspect-ratio: 2.5 / 1;
      margin-top:;

      & .line {
        transform: rotate(0deg);
      }
    }

    #hearticon1 {
      bottom: 75%;
      left: -3%;
      transform: translate(-50%, -50%);
    }
    #hearticon2 {
      bottom: 15%;
      left: -5%;
      transform: translate(-50%, -50%);
    }

    #hearticon3 {
      bottom: 2%;
      left: 17%;
      transform: translate(-50%, -50%);
    }

    #hearticon4 {
      bottom: 65%;
      left: 25%;
      transform: translate(-50%, -50%);
    }

    #hearticon5 {
      bottom: 25%;
      left: 38%;
      transform: translate(-50%, -50%);
    }

    #hearticon6 {
      bottom: 12%;
      left: 60%;
      transform: translate(-50%, -50%);
    }

    #hearticon7 {
      bottom: 57%;
      left: 73%;
      transform: translate(-50%, -50%);
    }

    #hearticon8 {
      bottom: -6%;
      left: 92%;
      transform: translate(-50%, -50%);
    }
    #year1 {
      position: absolute;
      text-align: center;
      line-height: 25%; 
      bottom: 100%;
      left: 3%;
      transform: translate(-50%, -50%);
  }
  #year2 {
    position:absolute;
    text-align: center;
    line-height: 25%;
    bottom: 15%;
      left: -5%;
      transform: translate(-50%, -50%);
  }
  #year3 {
    position:absolute;
    text-align: center;
    line-height: 25%;
    bottom: -10%;
    left: 17%;
    transform: translate(-50%, -50%);
  }
  #year4 {
    position:absolute;
    text-align: center;
    line-height: 25%;
    bottom: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  #year5 {
    position:absolute;
    text-align: center;
    line-height: 25%;
    bottom: 25%;
      left: 38%;
      transform: translate(-50%, -50%);
  }
  #year6 {
    position:absolute;
    text-align: center;
    line-height: 25%;
    bottom: 32%;
      left: 78%;
      transform: translate(-50%, -50%);
  }
  #year7 {
    position:absolute;
    text-align: center;
    line-height: 25%;
    bottom: 84%;
      left: 83%;
      transform: translate(-50%, -50%);
  }
  #year8 {
    position:absolute;
    text-align: center;
    line-height: 25%;
    bottom: 20%;
      left: 106%;
      transform: translate(-50%, -50%);
  }
  }
</style>
