---
import "../styles/main.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Dette er en webfeature lavet til I Tråd Med Verdens (ITMV) hjemmeside. Webfeaturen indeholder info om ITMV, hvad de står får og kvinderne som gør det hele muligt."
    />
    <meta name="robots" content="noindex" />
    <title>I Tråd Med Verden Webfeature</title>
  </head>
  <body>
    <slot />
  </body>
</html>
